{% extends "base.html" %}

{% block content %}
<!--#!!! Begin javascript for oob switch textbox copy-->
<script type="text/javascript">
$(document).ready(function () {
$("#TOR_OOB_SW_A").keyup(function () {
var a = $("#TOR_OOB_SW_A").val();
$("#TOR_OOB_SW_B").val(a);
$("#TOR_OOB_SW_C").val(a);
$("#TOR_OOB_SW_D").val(a);
$("#TOR_OOB_SW_E").val(a);
$("#TOR_OOB_SW_F").val(a);
$("#TOR_OOB_SW_G").val(a);
$("#TOR_OOB_SW_H").val(a);
$("#TOR_OOB_SW_I").val(a);
$("#TOR_OOB_SW_J").val(a);
$("#TOR_OOB_SW_K").val(a);
$("#TOR_OOB_SW_L").val(a);
$("#TOR_OOB_SW_M").val(a);
$("#TOR_OOB_SW_N").val(a);
$("#TOR_OOB_SW_O").val(a);
$("#TOR_OOB_SW_P").val(a);
$("#TOR_OOB_SW_Q").val(a);
$("#TOR_OOB_SW_R").val(a);
$("#TOR_OOB_SW_S").val(a);
$("#TOR_OOB_SW_T").val(a);
$("#TOR_OOB_SW_U").val(a);
$("#TOR_OOB_SW_V").val(a);
$("#TOR_OOB_SW_W").val(a);
$("#TOR_OOB_SW_X").val(a);
$("#TOR_OOB_SW_Y").val(a);
$("#TOR_OOB_SW_Z").val(a);
$("#TOR_OOB_SW_AA").val(a);
$("#TOR_OOB_SW_AB").val(a);
$("#TOR_OOB_SW_AC").val(a);
$("#TOR_OOB_SW_AD").val(a);
$("#TOR_OOB_SW_AE").val(a);
$("#TOR_OOB_SW_AF").val(a);
$("#TOR_OOB_SW_AG").val(a);
$("#TOR_OOB_SW_AH").val(a);
$("#TOR_OOB_SW_AI").val(a);
$("#TOR_OOB_SW_AJ").val(a);
$("#TOR_OOB_SW_AK").val(a);
$("#TOR_OOB_SW_AL").val(a);
$("#TOR_OOB_SW_AM").val(a);
$("#TOR_OOB_SW_AN").val(a);
$("#TOR_OOB_SW_AO").val(a);
$("#TOR_OOB_SW_AP").val(a);
$("#TOR_OOB_SW_AQ").val(a);
$("#TOR_OOB_SW_AR").val(a);
$("#TOR_OOB_SW_AS").val(a);
$("#TOR_OOB_SW_AT").val(a);
$("#TOR_OOB_SW_AU").val(a);
$("#TOR_OOB_SW_AV").val(a);
$("#TOR_OOB_SW_AW").val(a);
$("#TOR_OOB_SW_AX").val(a);
$("#TOR_OOB_SW_AY").val(a);
$("#TOR_OOB_SW_AZ").val(a);
});
});
</script>
<!--#!!! End javascript for oob switch textbox copy-->
<!--#!!! Begin javascript for oob switch port textbox copy-->
<script type="text/javascript">
$(document).ready(function () {
$("#TOR_OOB_SW_PORT_A").keyup(function () {
var a = $("#TOR_OOB_SW_PORT_A").val();
$("#TOR_OOB_SW_PORT_B").val(a);
$("#TOR_OOB_SW_PORT_C").val(a);
$("#TOR_OOB_SW_PORT_D").val(a);
$("#TOR_OOB_SW_PORT_E").val(a);
$("#TOR_OOB_SW_PORT_F").val(a);
$("#TOR_OOB_SW_PORT_G").val(a);
$("#TOR_OOB_SW_PORT_H").val(a);
$("#TOR_OOB_SW_PORT_I").val(a);
$("#TOR_OOB_SW_PORT_J").val(a);
$("#TOR_OOB_SW_PORT_K").val(a);
$("#TOR_OOB_SW_PORT_L").val(a);
$("#TOR_OOB_SW_PORT_M").val(a);
$("#TOR_OOB_SW_PORT_N").val(a);
$("#TOR_OOB_SW_PORT_O").val(a);
$("#TOR_OOB_SW_PORT_P").val(a);
$("#TOR_OOB_SW_PORT_Q").val(a);
$("#TOR_OOB_SW_PORT_R").val(a);
$("#TOR_OOB_SW_PORT_S").val(a);
$("#TOR_OOB_SW_PORT_T").val(a);
$("#TOR_OOB_SW_PORT_U").val(a);
$("#TOR_OOB_SW_PORT_V").val(a);
$("#TOR_OOB_SW_PORT_W").val(a);
$("#TOR_OOB_SW_PORT_X").val(a);
$("#TOR_OOB_SW_PORT_Y").val(a);
$("#TOR_OOB_SW_PORT_Z").val(a);
$("#TOR_OOB_SW_PORT_AA").val(a);
$("#TOR_OOB_SW_PORT_AB").val(a);
$("#TOR_OOB_SW_PORT_AC").val(a);
$("#TOR_OOB_SW_PORT_AD").val(a);
$("#TOR_OOB_SW_PORT_AE").val(a);
$("#TOR_OOB_SW_PORT_AF").val(a);
$("#TOR_OOB_SW_PORT_AG").val(a);
$("#TOR_OOB_SW_PORT_AH").val(a);
$("#TOR_OOB_SW_PORT_AI").val(a);
$("#TOR_OOB_SW_PORT_AJ").val(a);
$("#TOR_OOB_SW_PORT_AK").val(a);
$("#TOR_OOB_SW_PORT_AL").val(a);
$("#TOR_OOB_SW_PORT_AM").val(a);
$("#TOR_OOB_SW_PORT_AN").val(a);
$("#TOR_OOB_SW_PORT_AO").val(a);
$("#TOR_OOB_SW_PORT_AP").val(a);
$("#TOR_OOB_SW_PORT_AQ").val(a);
$("#TOR_OOB_SW_PORT_AR").val(a);
$("#TOR_OOB_SW_PORT_AS").val(a);
$("#TOR_OOB_SW_PORT_AT").val(a);
$("#TOR_OOB_SW_PORT_AU").val(a);
$("#TOR_OOB_SW_PORT_AV").val(a);
$("#TOR_OOB_SW_PORT_AW").val(a);
$("#TOR_OOB_SW_PORT_AX").val(a);
$("#TOR_OOB_SW_PORT_AY").val(a);
$("#TOR_OOB_SW_PORT_AZ").val(a);
});
});
</script>
<!--#!!! End javascript for oob switch port textbox copy-->
<!--#!!! Begin javascript for selection tabs-->
<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
<!--#!!! End javascript for selection tabs-->
<!--#!!! Begin javascript for tooltops-->
<script>
  $(function() {
    $( document ).tooltip();
  });
  </script>
  <style>
  label {
    display: inline-block;
    width: 5em;
  }
  </style>
<!--#!!! End javascript tooltop-->
      <div id="tabs">
  <ul>
    <li><a href="#tabs-1">Variables</a></li>
    <li><a href="#tabs-2">IP Assignment</a></li>
    <li><a href="#tabs-3">Inband Cabling</a></li>
    <li><a href="#tabs-4">Management Cabling</a></li>
    <li><a href="#tabs-5">OOB Cabling</a></li>
    <li><a href="#tabs-6">Port Planning</a></li>
  </ul>
    <!-- THIS IS THE START OF THE VARIABLES TAB CONTENT-->
    <div id="tabs-1">
    <form name="edit_ndt" action="ndt_edit_submit"  method="POST">
      <p>
<br><br> Click the image to access currently rendered xml template for PID {{ query_dict.pid_number }}<a href="static/in_progress_ndt_xml/{{filename}}"><img src="static/images/xml_icon.png" border="0" width="32" height="32"></a><br><br>
      </p>
       <table class="tableizer-table">
        <tr class="tableizer-firstrow"><th>Variable Name</th><th>Value</th><th>Description</th></tr>
        {% for variable in xml_variables %}
          {% if variable.attrib.edit_tab == 'variable' %}
            {% if variable.attrib.form_type == 'text' %}
              <tr><td>{{variable.attrib.friendly_name}}</td><td><input type='{{variable.attrib.form_type}}' id='{{variable.tag}}' name='{{variable.tag}}:template_variable'

                {% for db_row in db_results %}
                  {% if db_row.3 == variable.tag %}
                    value='{{db_row.4}}'
                  {% endif %}
                {% endfor %}

                {% if variable.attrib.form_element_locked == "yes" %} readonly="readonly" {% endif %}></td><td>{{variable.attrib.desc}}</td>
           {% endif %}
         {% endif %}
       {% endfor %}
        </table>
      </div>
      <!-- THIS IS THE END OF THE VARIABLES TAB CONTENT-->
      <!-- THIS IS THE START OF THE IP ASSIGNMENT TAB CONTENT-->
      <div id="tabs-2">
      <p>
<br><br> Click the image to access currently rendered xml template for PID {{ query_dict.pid_number }}<a href="static/in_progress_ndt_xml/{{filename}}"><img src="static/images/xml_icon.png" border="0" width="32" height="32"></a><br><br>
      </p>       <table class="tableizer-table">
        <tr class="tableizer-firstrow"><th>Variable Name</th><th>Value</th><th>Description</th></tr>
        {% for variable in xml_variables %}
          {% if variable.attrib.edit_tab == 'ip_assignment' %}
            {% if variable.attrib.form_type == 'text' %}
              <tr><td>{{variable.attrib.friendly_name}}</td><td><input type='{{variable.attrib.form_type}}' name='{{variable.tag}}:template_variable'

                {% for db_row in db_results %}
                  {% if db_row.3 == variable.tag %}
                    value='{{db_row.4}}'
                  {% endif %}
                {% endfor %}

                {% if variable.attrib.form_element_locked == "yes" %} readonly="readonly" {% endif %}></td><td>{{variable.attrib.desc}}</td>
           {% endif %}
         {% endif %}
       {% endfor %}
        </table>
      </div>
    <!-- THIS IS THE START OF THE INBAND CABLING TAB CONTENT-->
    <div id="tabs-3">
      <p>
<br><br> Click the image to access currently rendered xml template for PID {{ query_dict.pid_number }}<a href="static/in_progress_ndt_xml/{{filename}}"><img src="static/images/xml_icon.png" border="0" width="32" height="32"></a><br><br>
      </p>        <input type='hidden' name='pid_number' value='{{query_dict.pid_number}}'>
        <input type='hidden' name='scale_unit' value='{{query_dict.scale_unit}}'>
      </p><br><br>
       <table class="tableizer-table">
        <tr class="tableizer-firstrow"><th>Variable Name</th><th>Value</th><th>Description</th></tr>
        {% for variable in xml_variables %}
          {% if variable.attrib.edit_tab == 'inb_cable' %}
            {% if variable.attrib.form_type == 'text' %}
              <tr><td>{{variable.attrib.friendly_name}}</td><td><input type='{{variable.attrib.form_type}}' name='{{variable.tag}}:template_variable'

                {% for db_row in db_results %}
                  {% if db_row.3 == variable.tag %}
                    value='{{db_row.4}}'
                  {% endif %}
                {% endfor %}

                {% if variable.attrib.form_element_locked == "yes" %} readonly="readonly" {% endif %}></td><td>{{variable.attrib.desc}}</td>
           {% endif %}
         {% endif %}
       {% endfor %}
        </table><br>
       <table class="tableizer-table">
        <tr class="tableizer-firstrow"><th>Start Device</th><th>Start Port</th><th>End Device</th><th>End Port</th><th>Bandwidth</th><th>Connection Type</th></tr>
         {% for variable in xml_interfaces %}
           {% ifnotequal variable.attrib.ConnectionType "MGMT" %}
             {% ifnotequal variable.attrib.ConnectionType "OOB" %}
               <tr><td>{{variable.attrib.StartDevice}}</td><td>{{variable.attrib.StartPort}}</td><td>{{variable.attrib.EndDevice}}</td><td>{{variable.attrib.EndPort}}</td>
                   <td>{{variable.attrib.Bandwidth}}</td><td>{{variable.attrib.ConnectionType}}</td></tr>
             {% endifnotequal %}
           {% endifnotequal %}
         {% endfor %}
        </table>
      </div>
      <!-- THIS IS THE END OF THE INBAND CABLING TAB CONTENT-->
    <!-- THIS IS THE START OF THE MGMT CABLING TAB CONTENT-->
    <div id="tabs-4">
      <p>
<br><br> Click the image to access currently rendered xml template for PID {{ query_dict.pid_number }}<a href="static/in_progress_ndt_xml/{{filename}}"><img src="static/images/xml_icon.png" border="0" width="32" height="32"></a><br><br>
      </p>        <input type='hidden' name='pid_number' value='{{query_dict.pid_number}}'>
        <input type='hidden' name='scale_unit' value='{{query_dict.scale_unit}}'>
      </p><br><br>
       <table class="tableizer-table">
        <tr class="tableizer-firstrow"><th>Variable Name</th><th>Value</th><th>Description</th></tr>
        {% for variable in xml_variables %}
          {% if variable.attrib.edit_tab == 'mgmt_cable' %}
            {% if variable.attrib.form_type == 'text' %}
              <tr><td>{{variable.attrib.friendly_name}}</td><td><input type='{{variable.attrib.form_type}}' name='{{variable.tag}}:template_variable'

                {% for db_row in db_results %}
                  {% if db_row.3 == variable.tag %}
                    value='{{db_row.4}}'
                  {% endif %}
                {% endfor %}

                {% if variable.attrib.form_element_locked == "yes" %} readonly="readonly" {% endif %}></td><td>{{variable.attrib.desc}}</td>
           {% endif %}
         {% endif %}
       {% endfor %}
        </table><br>
       <table class="tableizer-table">
        <tr class="tableizer-firstrow"><th>Start Device</th><th>Start Port</th><th>End Device</th><th>End Port</th><th>Bandwidth</th><th>Connection Type</th></tr>
         {% for variable in xml_interfaces %}
           {% ifequal variable.attrib.ConnectionType "MGMT" %}
               <tr><td>{{variable.attrib.StartDevice}}</td><td>{{variable.attrib.StartPort}}</td><td>{{variable.attrib.EndDevice}}</td><td>{{variable.attrib.EndPort}}</td>
                   <td>{{variable.attrib.Bandwidth}}</td><td>{{variable.attrib.ConnectionType}}</td></tr>
           {% endifequal %}
         {% endfor %}
        </table>
      </div>
      <!-- THIS IS THE END OF THE MGMT CABLING TAB CONTENT-->
    <!-- THIS IS THE START OF THE OOB CABLING TAB CONTENT-->
    <div id="tabs-5">
      <p>
<br><br> Click the image to access currently rendered xml template for PID {{ query_dict.pid_number }}<a href="static/in_progress_ndt_xml/{{filename}}"><img src="static/images/xml_icon.png" border="0" width="32" height="32"></a><br><br>
      </p>        <input type='hidden' name='pid_number' value='{{query_dict.pid_number}}'>
        <input type='hidden' name='scale_unit' value='{{query_dict.scale_unit}}'>
      </p><br><br>
       <table class="tableizer-table">
        <tr class="tableizer-firstrow"><th>Variable Name</th><th>Value</th><th>Description</th></tr>
        {% for variable in xml_variables %}
          {% if variable.attrib.edit_tab == 'oob_cable' %}
            {% if variable.attrib.form_type == 'text' %}
              <tr><td>{{variable.attrib.friendly_name}}</td><td><input type='{{variable.attrib.form_type}}' name='{{variable.tag}}:template_variable'

                {% for db_row in db_results %}
                  {% if db_row.3 == variable.tag %}
                    value='{{db_row.4}}'
                  {% endif %}
                {% endfor %}

                {% if variable.attrib.form_element_locked == "yes" %} readonly="readonly" {% endif %}></td><td>{{variable.attrib.desc}}</td>
           {% endif %}
         {% endif %}
       {% endfor %}
        </table><br>
       <table class="tableizer-table">
        <tr class="tableizer-firstrow"><th>Start Device</th><th>Start Port</th><th>End Device</th><th>End Port</th><th>Bandwidth</th><th>Connection Type</th></tr>
         {% for variable in xml_interfaces %}
           {% ifequal variable.attrib.ConnectionType "OOB" %}
               <tr><td>{{variable.attrib.StartDevice}}</td><td>{{variable.attrib.StartPort}}</td><td>{{variable.attrib.EndDevice}}</td><td>{{variable.attrib.EndPort}}</td>
                   <td>{{variable.attrib.Bandwidth}}</td><td>{{variable.attrib.ConnectionType}}</td></tr>
           {% endifequal %}
         {% endfor %}
        </table>
      </div>
      <!-- THIS IS THE END OF THE OOB CABLING TAB CONTENT-->
    <!-- THIS IS THE START OF THE PORT PLANNING TAB CONTENT-->
    <div id="tabs-6">
      <p>
<br><br> Click the image to access currently rendered xml template for PID {{ query_dict.pid_number }}<a href="static/in_progress_ndt_xml/{{filename}}"><img src="static/images/xml_icon.png" border="0" width="32" height="32"></a><br><br>
      </p>
        <input type='hidden' name='pid_number' value='{{query_dict.pid_number}}'>
        <input type='hidden' name='scale_unit' value='{{query_dict.scale_unit}}'>
      </p><br><br>
       <table class="tableizer-table">
        <tr class="tableizer-firstrow"><th>Variable Name</th><th>Value</th><th>Description</th></tr>
        {% for variable in xml_variables %}
          {% if variable.attrib.edit_tab == 'port_plan' %}
            {% if variable.attrib.form_type == 'text' %}
              <tr><td>{{variable.attrib.friendly_name}}</td><td><input type='{{variable.attrib.form_type}}' name='{{variable.tag}}:template_variable'

                {% for db_row in db_results %}
                  {% if db_row.3 == variable.tag %}
                    value='{{db_row.4}}'
                  {% endif %}
                {% endfor %}

                {% if variable.attrib.form_element_locked == "yes" %} readonly="readonly" {% endif %}></td><td>{{variable.attrib.desc}}</td>
           {% endif %}
         {% endif %}
       {% endfor %}
        </table>
      </div>
      <!-- THIS IS THE END OF THE PORT PLAN TAB CONTENT-->
    </p>
    <input type="submit" value="Submit"><br><br>
  </form>
{% endblock %}